{
  "root": true,
  "env": { "browser": true, "es2023": true, "node": true },

  "parser": "@typescript-eslint/parser",
  "parserOptions": { "ecmaVersion": "latest", "sourceType": "module" },
  "ignorePatterns": ["node_modules", "dist", "*.json", "*.md", "*.yml"],

  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "@antfu"
  ],
  "plugins": ["@typescript-eslint"],
  "rules": {
    "antfu/top-level-function": "off",
    "antfu/if-newline": "off",
    "curly": "off",
    "brace-style": "off",
    "@typescript-eslint/brace-style": "off"
  }
}
